
.testblock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, #061a2b 0%, #0b364f 100%);
    padding: 20px;
    color: white;
}

.testblock h1 {
    font-size: 3em;
    font-weight: bold;
    margin: 0;
}

.testblock picture img {
    max-width: 100%;
    height: auto;
}
